agate==1.9.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
alembic==1.15.2
altair==5.5.0
aniso8601==10.0.1
annotated-types==0.7.0
ansicolors==1.1.8
anthropic==0.49.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.3
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blobfile==3.0.0
boto3==1.37.13
botocore==1.37.13
branca==0.8.1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
coloredlogs==14.0
comm==0.2.2
contourpy==1.3.2
cryptography==44.0.2
cycler==0.12.1
daff==1.3.46
dagster==1.10.7
dagster-aws==0.26.7
dagster-cloud==1.10.7
dagster-cloud-cli==1.10.7
dagster-databricks==0.26.7
dagster-dbt==0.26.7
dagster-duckdb==0.26.7
dagster-duckdb-pandas==0.26.7
dagster-graphql==1.10.7
dagster-k8s==0.26.7
dagster-pipes==1.10.7
dagster-pyspark==0.26.7
dagster-shared==0.26.7
dagster-snowflake==0.26.7
dagster-snowflake-pandas==0.26.7
dagster-spark==0.26.7
dagster-webserver==1.10.7
dagstermill==0.26.7
databricks-sdk==0.17.0
dbt-adapters==1.14.3
dbt-common==1.16.0
dbt-core==1.9.3
dbt-extractor==0.5.1
dbt-postgres==1.9.0
dbt-semantic-interfaces==0.7.4
debugpy==1.8.13
decorator==5.2.1
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.18
diff_cover==9.2.4
distro==1.9.0
docstring_parser==0.16
duckdb==1.2.1
durationpy==0.9
entrypoints==0.4
executing==2.2.0
fairscale==0.4.13
fastjsonschema==2.21.1
filelock==3.18.0
fiona==1.10.1
fire==0.7.0
flasgger==0.9.7.1
Flask==3.1.0
flask-cors==5.0.1
flask-restx==1.3.0
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
folium==0.19.5
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.0
geopandas==1.0.1
gitdb==4.0.12
github3.py==4.0.1
GitPython==3.1.44
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.69.2
gql==3.5.2
graphene==3.4.3
graphql-core==3.2.4
graphql-relay==3.2.0
grpcio==1.71.0
grpcio-health-checking==1.71.0
h11==0.14.0
holidays==0.73
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
importlib-metadata==6.11.0
importlib_resources==6.5.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==9.0.2
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jinja2-simple-tags==0.6.1
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
kiwisolver==1.4.8
kubernetes==32.0.1
leather==0.4.0
llama_stack==0.2.1
llama_stack_client==0.2.1
lxml==5.3.2
lyricsgenius==3.4.4
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
matplotlib==3.10.1
matplotlib-inline==0.1.7
mcp==1.4.1
mdurl==0.1.2
mistune==3.1.3
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.2.0
mypy_extensions==1.1.0
narwhals==1.38.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.4.1
notebook_shim==0.2.4
numpy==2.2.4
oauthlib==3.2.2
openai==1.66.5
opentelemetry-api==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-exporter-otlp-proto-http==1.31.1
opentelemetry-proto==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
ordered-set==4.1.0
orjson==3.10.16
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
papermill==2.6.0
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdfkit==1.0.0
pex==2.33.7
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.1
pluggy==1.5.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pyaml==25.1.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodomex==3.22.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
PyJWT==2.10.1
pyogrio==0.11.0
pyOpenSSL==25.0.0
pypandoc==1.15
pyparsing==3.2.3
pyproj==3.7.1
pyspark==3.5.5
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.3.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.3.0
questionary==2.1.0
# Editable install with no version control (ragtime==0.1.0)
-e /Users/timburns/PycharmProjects/OwlMountain/ragtime
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.24.0
rsa==4.9
s3transfer==0.11.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
scrapbook==0.5.0
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
setuptools==78.1.0
shapely==2.1.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==3.14.0
snowflake-sqlalchemy==1.7.3
snowplow-tracker==1.1.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.39
sqlfluff==3.3.1
sqlfluff-templater-dbt==3.3.1
sqlglot==26.12.0
sqlglotrs==0.4.0
sqlparse==0.5.3
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.14.4
streamlit==1.45.1
structlog==25.2.0
sympy==1.13.1
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
termcolor==3.0.1
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenize_rt==6.1.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toposort==1.10
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.1
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
universal_pathlib==0.2.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
watchdog==5.0.3
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.17.2
xgboost==3.0.0
xyzservices==2025.4.0
yarl==1.18.3
zipp==3.21.0
